html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background-color: #f9f8ff;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --white: #fff;
  --primary: #7653fc;
  --red: #de0000;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: "Noto Sans KR", sans-serif;
}
